<div class="container px-4 mx-auto sm:px-0">
  <div class="flex items-center justify-between gap-8">
    <p class="text-3xl font-medium text-primary">ILove2Shop</p>
    <nav id="nav" class="flex hidden w-full gap-8 md:items-center md:flex">
      <ul id="ul" class="flex items-center justify-end w-full gap-8">
        <li class="text-xl">Shop</li>
        <li class="text-xl">Register</li>
        <li class="text-xl">Log in</li>
        <li>
          <button
            class="w-32 py-3 font-medium text-white rounded-lg bg-primary"
          >
            Add item
          </button>
        </li>
      </ul>
    </nav>
    <div id="hamburger" data-status="inactive" class="w-8 my-auto md:hidden">
      <div class="w-full h-1 duration-200 rounded-sm bg-primary"></div>
      <div class="w-full h-1 mt-1.5 bg-primary rounded-sm duration-200"></div>
      <div class="w-full h-1 mt-1.5 bg-primary rounded-sm duration-200"></div>
    </div>
  </div>
</div>
